* {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: Publica Sans Black;
  src: url(../../fonts/PublicaSans-Black.otf); }
@font-face {
  font-family: Publica Sans Black Italic;
  src: url(../../fonts/PublicaSans-BlackItalic.otf); }
@font-face {
  font-family: Publica Sans Bold;
  src: url(../../fonts/PublicaSans-Bold.otf); }
@font-face {
  font-family: Publica Sans Bold Italic;
  src: url(../../fonts/PublicaSans-BoldItalic.otf); }
@font-face {
  font-family: Publica Sans Extra Light Italic;
  src: url(../../fonts/PublicaSans-ExtraLightItalic.otf); }
@font-face {
  font-family: Publica Sans Italic;
  src: url(../../fonts/PublicaSans-Italic.otf); }
@font-face {
  font-family: Publica Sans Light;
  src: url(../../fonts/PublicaSans-Light.otf); }
@font-face {
  font-family: Publica Sans Light Italic;
  src: url(../../fonts/PublicaSans-LightItalic.otf); }
@font-face {
  font-family: Publica Sans Medium;
  src: url(../../fonts/PublicaSans-Medium.otf); }
@font-face {
  font-family: Publica Sans Medium Italic;
  src: url(../../fonts/PublicaSans-MediumItalic.otf); }
@font-face {
  font-family: Publica Sans Thin;
  src: url(../../fonts/PublicaSans-Thin.otf); }
@font-face {
  font-family: Publica Sans Thin Italic;
  src: url(../../fonts/PublicaSans-ThinItalic.otf); }
@font-face {
  font-family: Publica Sans Ultra Light;
  src: url(../../fonts/PublicaSans-UltraLight.otf); }
button {
  border-style: none; }

.button-main {
  font-family: Publica Sans Thin;
  font-size: 11px;
  height: 40px;
  width: 180px;
  background: #4B4B4B;
  color: #EFEFEF;
  transition: all 0.4s; }
  .button-main:hover {
    background: #6B6B6B;
    color: #EFEFEF;
    cursor: pointer; }

.button-second {
  font-family: Publica Sans Light;
  font-size: 11px;
  height: 40px;
  width: 100px;
  background: #EFEFEF;
  color: #6B6B6B;
  transition: all 0.4s;
  text-align: center;
  align-items: center;
  justify-content: center; }
  .button-second:hover {
    background: #6B6B6B;
    color: #EFEFEF;
    cursor: pointer; }

.button-social {
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 20px;
  margin-top: 20px;
  width: 50px;
  height: 50px;
  border-radius: 20px;
  transition: all 0.4s;
  background: #fff;
  fill: #4B4B4B; }
  .button-social:hover {
    fill: #000; }

.input {
  margin-top: 20px;
  font-family: Publica Sans Light;
  border-style: none;
  text-decoration: none;
  font-size: 11px;
  padding: 14px 10px;
  width: 60%;
  margin-left: 10px; }

body {
  background: #EFEFEF; }

.div-background {
  width: 50%;
  height: 140%;
  background: #FFF;
  box-shadow: 7px 0px 10px rgba(0, 0, 0, 0.2);
  position: fixed;
  z-index: -1; }

::placeholder {
  color: #6B6B6B;
  opacity: 0.4; }

.div-left {
  width: 50%;
  height: 100px;
  float: left; }
.div-right {
  width: 50%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .div-right .div-search {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    position: relative; }
    .div-right .div-search input {
      display: flex;
      border: none;
      padding: 13px;
      width: 100%;
      font-family: Publica Sans Medium;
      letter-spacing: 6px;
      font-size: 7px;
      border-radius: 14px;
      box-shadow: 0;
      transition: 0.8s all; }
      .div-right .div-search input:hover {
        letter-spacing: 7px;
        box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.2); }
    .div-right .div-search button {
      width: 10%;
      background: none;
      min-width: 40px;
      border: none;
      padding: 10px;
      position: absolute;
      right: 0;
      margin-right: 10px;
      cursor: pointer; }
      .div-right .div-search button .fir, .div-right .div-search button .sec {
        transition: 0.3s all;
        opacity: 0.4; }
      .div-right .div-search button .iten-lupa {
        fill: #fff;
        opacity: 0.4;
        transition: 0.7s all; }
      .div-right .div-search button:hover .iten-lupa {
        fill: #6B6B6B;
        opacity: 1; }
      .div-right .div-search button:hover .fir {
        fill: #6B6B6B;
        opacity: 1; }
      .div-right .div-search button:hover .sec {
        fill: #6B6B6B;
        opacity: 1; }

.retangulo, .poligono, .elipse, .st0 {
  transition: all 0.4s; }

.logo {
  width: 50%;
  height: 100%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Publica Sans Thin;
  background: #EFEFEF; }
  .logo .svg_logo {
    width: 30%;
    min-width: 100px;
    transition: all 0.7s; }
    .logo .svg_logo a {
      background: #f00; }
    .logo .svg_logo:hover .retangulo {
      fill: #BE267A; }
    .logo .svg_logo:hover .poligono {
      fill: #2B9FB4; }
    .logo .svg_logo:hover .elipse {
      fill: #F0DB00; }
    .logo .svg_logo:hover .st0 {
      fill: #000000; }

.navbar {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }

.navbar ul {
  position: absolute; }
  .navbar ul li {
    display: inline-block; }
    .navbar ul li a {
      text-decoration: none;
      font-size: 9px;
      padding: 14px 10px;
      font-family: Publica Sans Bold;
      color: #6B6B6B;
      transition: all 0.4s; }
      .navbar ul li a:hover {
        color: #000; }
  .navbar ul .navbar-shop ul {
    margin-top: 14px; }
    .navbar ul .navbar-shop ul li {
      position: relative;
      display: block; }
      .navbar ul .navbar-shop ul li a {
        display: none;
        opacity: 0; }

.carrinho {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 100%;
  padding-left: 30px; }
  .carrinho h1 {
    color: #6B6B6B;
    margin-right: 25px;
    font-family: Publica Sans Medium;
    font-size: 11px; }
  .carrinho .car-icon {
    width: 16%;
    min-width: 40px;
    fill: #000; }

body {
  position: relative;
  height: 100vh; }

.container-body {
  display: table;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: "space-between";
  align-items: top;
  text-align: center; }

.column-left {
  width: 25%; }
  .column-left-right {
    float: right;
    width: 60%;
    text-align: left;
    margin-top: 80px; }
    .column-left-right h1 {
      font-family: Publica Sans ExtraBold;
      font-size: 40px;
      color: #4B4B4B; }
    .column-left-right ul {
      position: absolute;
      margin-top: 80px; }
      .column-left-right ul li {
        display: block;
        margin-top: 5px; }
        .column-left-right ul li a {
          text-decoration: none;
          font-family: Publica Sans Bold;
          font-size: 10px;
          color: #6B6B6B;
          transition: all 0.4s; }
          .column-left-right ul li a:hover {
            color: #000; }

.column-center {
  width: 50%;
  position: relative; }
  .column-center .center-image {
    width: 100%;
    height: 100%;
    display: flex;
    display: flex;
    justify-content: "center";
    align-items: center;
    text-align: center; }
    .column-center .center-image .imagem {
      margin: 0 auto;
      display: block;
      position: relative;
      width: 50%;
      margin-top: 70px;
      min-width: 250px; }
      .column-center .center-image .imagem img {
        margin: 0 auto;
        display: block;
        width: 100%; }
  .column-center-top-space {
    display: flex;
    position: absolute;
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
    margin-top: 40px; }
    .column-center-top-space h1 {
      color: #95989A;
      display: flex;
      position: absolute;
      font-family: Publica Sans Medium;
      font-size: 11px;
      margin-top: -10px; }
    .column-center-top-space .line {
      background: #95989A;
      width: 30%;
      height: 1px;
      display: inline-block;
      min-width: 130px; }
  .column-center-right-space {
    display: flex;
    position: absolute;
    right: 0;
    width: 50px;
    height: 75%;
    align-items: center;
    justify-content: center;
    margin-right: 10%; }
    .column-center-right-space h1 {
      color: #95989A;
      display: flex;
      position: absolute;
      margin-left: 22px;
      font-family: Publica Sans Medium;
      font-size: 11px; }
    .column-center-right-space .line {
      background: #95989A;
      width: 1px;
      height: 40%;
      display: inline-block; }

.column-right {
  width: 25%;
  text-align: left;
  margin-top: 80px; }
  .column-right h1 {
    font-family: Publica Sans Bold;
    font-size: 40px;
    color: #4B4B4B; }
  .column-right h2 {
    margin-top: 30px;
    font-family: Publica Sans Medium;
    color: #95989A;
    font-size: 28px; }
  .column-right p {
    margin-top: 30px;
    font-family: Publica Sans Medium;
    margin-right: 20px;
    font-size: 14px;
    letter-spacing: 3px;
    color: #4B4B4B; }

.footer {
  width: 100%;
  height: 400px;
  background: #EFEFEF;
  display: inline-block;
  display: flex;
  justify-content: space-between; }
  .footer-div {
    height: 100%; }
    .footer-div-left {
      font-family: Publica Sans Medium;
      width: 66.6%;
      display: flex; }
      .footer-div-left .footer-div-partition {
        width: 25%;
        height: 100%;
        color: #1b1b1b;
        text-align: center; }
        .footer-div-left .footer-div-partition span {
          font-size: 14px; }
    .footer-div-right {
      width: 34%;
      background: #4B4B4B; }
      .footer-div-right span {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 30px;
        font-family: Publica Sans Ultralight;
        font-size: 15px;
        color: #FFF; }
      .footer-div-right .social {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        padding: 0 100px;
        display: flex; }

.footer-span-top {
  display: inline-block;
  text-align: center;
  margin-top: 30px; }

.newsletter {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }

.newsletterCenter {
  width: 100%; }

.footer-line {
  width: 100%;
  height: 5px;
  background: #4B4B4B; }

.clearfix {
  overflow: auto; }

.social svg {
  width: 28px; }

.footer-end-informations {
  width: 100%;
  height: 30px;
  background: #1b1b1b;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .footer-end-informations span {
    font-size: 60%;
    font-family: Publica Sans Light;
    color: #6B6B6B; }

.ul-footer-div {
  margin-top: 20px; }
  .ul-footer-div li {
    margin-top: 5px;
    list-style-type: none; }
    .ul-footer-div li a {
      text-decoration: none;
      color: #6B6B6B;
      transition: 0.4s all;
      font-size: 12px;
      text-align: center; }
      .ul-footer-div li a:hover {
        color: #000; }

/*# sourceMappingURL=main.css.map */
