@font-face {
	font-family: Publica Sans Black;
	src: url(../../fonts/PublicaSans-Black.otf);
}

@font-face {
	font-family: Publica Sans Black Italic;
	src: url(../../fonts/PublicaSans-BlackItalic.otf);
}

@font-face {
	font-family: Publica Sans Bold;
	src: url(../../fonts/PublicaSans-Bold.otf);
}

@font-face {
	font-family: Publica Sans Bold Italic;
	src: url(../../fonts/PublicaSans-BoldItalic.otf);
}

@font-face {
	font-family: Publica Sans Extra Light Italic;
	src: url(../../fonts/PublicaSans-ExtraLightItalic.otf);
}

@font-face {
	font-family: Publica Sans Italic;
	src: url(../../fonts/PublicaSans-Italic.otf);
}

@font-face {
	font-family: Publica Sans Light;
	src: url(../../fonts/PublicaSans-Light.otf);
}
@font-face {
	font-family: Publica Sans Light Italic;
	src: url(../../fonts/PublicaSans-LightItalic.otf);
}

@font-face {
	font-family: Publica Sans Medium;
	src: url(../../fonts/PublicaSans-Medium.otf);
}

@font-face {
	font-family: Publica Sans Medium Italic;
	src: url(../../fonts/PublicaSans-MediumItalic.otf);
}

@font-face {
	font-family: Publica Sans Thin;
	src: url(../../fonts/PublicaSans-Thin.otf);
}

@font-face {
	font-family: Publica Sans Thin Italic;
	src: url(../../fonts/PublicaSans-ThinItalic.otf);
}

@font-face {
	font-family: Publica Sans Ultra Light;
	src: url(../../fonts/PublicaSans-UltraLight.otf);
}

